<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:property-placeholder location="classpath:db.properties"/>
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property value="${jdbc.user}" name="user"/>
        <property value="${jdbc.passwd}" name="password"/>
        <property value="${jdbc.driverClass}" name="driverClass"/>
        <property value="${jdbc.jdbcUrl}" name="jdbcUrl"/>
    </bean>
    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*"/>
            <!--<tx:method name="purchase" propagation="REQUIRES_NEW"/>-->
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="txPointcut" expression="execution(* com.wami.project.hrsystem.core.dao.impls.actualimpls.LoginDaoImpl.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>
    <aop:config>
        <aop:pointcut id="txPointcut2" expression="execution(* com.wami.project.hrsystem.core.dao.impls.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut2"/>
    </aop:config>
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.wami.project.hrsystem.core.*"/>
</beans>