<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivUsersEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivGroupDEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivGroupMEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivGroupPrivEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivInterfaceEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivModelEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.privs.PrivPrivLEntity"/>
        <mapping class="com.wami.project.hrsystem.core.enties.message.MsgMessageEntity"/>
    </session-factory>
</hibernate-configuration>